/* Font's */

@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap%27');

/* Global */

body{
    font-size: 16px;
    background: rgb(250, 250, 250);
}

h1{
    font-family: 'Langar',sans-serif;
}

/* Register */

.forgot-container{
    height: 100vh;
    width: 100%;
}

.forgot-form{
    max-width: 100%;
    width: 370px;
    padding: 15px;
    margin: auto;
}

.forgot-form .form-control{
    font-size: 15px;
    min-height: 48px;
    font-weight: 500;
}

.forgot-form a{
    text-decoration: none;
    color:#666;
}

.forgot-form a:hover{
    color:#723dbe;
}
.forgot-form .last{
    font-size: 16px;
}

.forgot-link{
    font-size: 13px;
}
  
.form-control:focus{
    border-color:#723dbe;
    box-shadow: 0 0 0 0.2rem rgba(114,61,190,.25);
}

.btn-custom{
    background: #723dbe;
    border-color:#723dbe;
    color:#fff;
    font-size: 15px;
    font-weight: 600;
    min-height: 48px;
}

.btn-custom:focus,
.btn-custom:hover,
.btn-custom:active,
.btn-custom:active:focus{
  background: #54229d;
  border-color: #54229d;
  color:#fff;
}