/* Font's */

@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap%27');

/* Global */

body{
    font-size: 16px;
    background: rgb(250, 250, 250);
}

h1{
    font-family: 'Langar',sans-serif;
    cursor: default;
}

.Register{
    display: none;
}

/* Login */

.login-container{
    height: 100vh;
    width: 100%;
}

.login-form{
    max-width: 100%;
    width: 370px;
    padding: 15px;
    margin: auto;
}

.login-form .form-control{
    font-size: 15px;
    min-height: 48px;
    font-weight: 500;
}

.form-control:focus {
    border-color: #ffc107;
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.25);
}

.login-form a{
    text-decoration: none;
    color:#666;
}

.login-form a:hover{
    color:#ffc107;
}
.login-form .last{
    font-size: 16px;
}

.forgot-link{
    font-size: 13px;
}
